/* Race colors */
$yellow: rgb(121, 121, 0);
$white: #fff;
$red: #ff1010;
$blue: #209dff;
$brown: #7c4200;
$purple: #a70090;
$orange: #ff8c00;
$dark-green: #006e06;
$light-green: #65ff6c;
$pink: #ff9e9e;


